body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #444;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background: #F2FEBB;
    color: #f680ec;
    padding: 30px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #f680ec;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


img {
    height: auto;
    border-radius: 30px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
img:hover {
    transform: scale(1.05);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('img/backgroung.png') no-repeat center center/cover;
    color: #444;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #444;
}

.hero p {
    font-size: 1.2em;
}

.about, .services, .pricing {
    padding: 50px 0;
    text-align: center;
}

.about h2, .services h2, .pricing h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services ul li {
    background: #f680ec;
    margin: 10px 0;
    padding: 10px;
    border-radius: 50px;
    color:#fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background: #333;
    color: #fff;
}
